* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2.5rem;
}

.login-area {
  border: 2px solid #4b525c;
  width: 40em;
  height: 200px;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 10px;
  display: none;
}
.login-area.open {
  display: block;
}

.count-area {
  border: 2px solid #4b525c;
  background-color: #edf1f6;
  width: 40em;
  height: 300px;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 10px;
  display: none;
}
.count-area.open {
  display: block;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.name-title {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  color: #4b525c;
}

.btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.num-area {
  color: #4b525c;
  background-color: #ffffff;
  width: 100px;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-style {
  width: 100px;
  height: 100%;
  font-size: 1.2rem;
  background-color: #90a2b0;
  color: #eff1f4;
}
.background-dark {
  background-color: #8498a7;
}
.border-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.border-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
